<strong>Olá, {{ deliverymen }} </strong>
<p>Um novo pedido foi realizado. Confira os dados da sua entrega.</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>Produto: </strong> {{ product }} <br />

  <br />
  <small>
    Agilize as entregas e ganhe gorjetas maiores.
  </small>
</p>
